@import '../../commonstyles/variables.scss';
.morecontainer {
  display: flex;
  justify-content: space-around;
  align-items: center;

  .image {
    width: 100%;
    height: 20px;
    flex: 1;
    padding-right: 8%;
    padding-left: 5%;
  }
  .text {
    @include fontStyle(15px, #182233);
    padding-top: 14px;
    padding-bottom: 14px;
    border-top: 1px solid #e6ebf3;
    width: 100%;
  }
}
