@import "../../commonstyles/variables.scss";

.wrapper {
  display: flex;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  .spinner {
    width: 100%;
    align-self: center;
    text-align: center;

    div {
      width: 14px;
      height: 14px;
      background: #7e6bf0;
      border-radius: 100%;
      display: inline-block;
      animation: bouncedelay 1.2s infinite ease-in-out both;
    }

    .bounce1 {
      animation-delay: -0.64s;
      background: #7e6bf0;
    }

    .bounce2 {
      animation-delay: -0.48s;
      background: #7e6bf0;
    }

    .bounce3 {
      animation-delay: -0.32s;
      background: #7e6bf0;
    }

    .bounce4 {
      animation-delay: -0.16s;
    }
  }
}

@keyframes bouncedelay {
  0%,
  80%,
  100% {
    transform: scale(0.3);
  }

  40% {
    transform: scale(1);
  }
}
