@import "../../../commonstyles/variables.scss";

.contentPanel {
  display: flex;
  flex-direction: column;
  width: 85%;
  padding: 10px;
  .upperPanel {
    width: 100%;
    background-color: #fff;
    height: 50px;
    border: solid 1px #e9ebf0;
    padding-left: 15px;
    display: flex;
    align-items: center;
    .title {
      font-size: 18px;
      font-weight: 600;
    }
  }
  .preferenceContainer {
    margin-top: 10px;
    background: #fff;
    padding-top: 77px;
    padding-left: 58px;
    height: calc(100vh - 30%);

    .prefHeader {
      display: flex;
      span {
        display: flex;
        flex-basis: 30%;
        @include fontStyle(12px, $DBlack, 700);
      }
    }
    .prefBody {
      .prefItemWrapper {
        display: flex;
        span.prefItem {
          margin-top: 41px;
          display: flex;
          flex-basis: 30%;
          @include fontStyle(12px, #3e3e58, 500);
        }
      }
    }
    .btnParent {
      width: 110px;
      float: right;
      margin-top: 60px;
      margin-right: 155px;
    }
  }
}

.tabsWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  height: auto;
  max-height: 700px;
  overflow: scroll;
  border: solid 1px #e9ebf0;
  padding-top: 36px;
  margin-top: 10px;
  min-height: 60vh;
  padding-bottom: 120px;
  .addNew {
    color: $Theme;
    font-weight: 900;
    letter-spacing: 0.8px;
    cursor: pointer;
  }
  .addNew:hover {
    text-decoration: underline;
  }
  .paneWrapper {
    display: flex;
    width: 100%;
    .leftPane {
      display: flex;
      flex: 1;
      justify-content: flex-start;
      padding-right: 25px;
      color: #637280;
      align-items: flex-end;
      flex-direction: column;
    }
    .rightPane {
      display: flex;
      flex: 2;
      min-height: 50px;
      height: auto;
      justify-content: center;
      flex-direction: column;
      width: 100%;
      position: relative;
      .deletePane {
        position: absolute;
        background: $White;
        border: 1px solid #e9ebf0;
        width: 80%;
        padding: 3px;
        display: flex;
        justify-content: flex-end;
        height: 26px;
        align-items: center;
        cursor: pointer;
        span {
          padding: 5px;
          display: flex;
          border-radius: 23px;
          img {
            width: 12px;
          }
        }
        span:hover {
          background-color: #f1f2fc;
        }
      }
      .editorMarginBottom {
        bottom: 10px;
      }
      .normalMarginBottom {
        bottom: 15px;
      }
      div.contentHolder {
        max-height: 170px;
        overflow: scroll;
        border: 1px solid #eaeaea;
        width: 80%;
        height: 170px;
        padding-top: 5px;
        padding-left: 5px;
        margin-bottom: 15px;
        p {
          margin: auto;
        }
      }
    }
  }
}
.actionPane {
  position: fixed;
  bottom: 0;
  left: 212px;
  right: 11px;
  background: #ffffff;
  height: 80px;
  display: flex;
  justify-content: flex-end;
  padding-top: 34px;
  border-top: 1px solid #eaeaea;
  div {
    width: 200px;
    padding-right: 20px;
  }
}

.loaderParent {
  position: relative;
  // padding:0px !important;
  width: auto !important;
  padding-right: 0px !important;
  div {
    padding: 0px;
    margin-top: 5px;
  }
}
