@import "../../../commonstyles/variables.scss";

.contentPanel {
  display: flex;
  flex-direction: column;
  width: 85%;
  padding: 10px;
  .upperPanel {
    width: 100%;
    background-color: #fff;
    height: 50px;
    border: solid 1px #e9ebf0;
    display: flex;
    align-items: center;
    padding-left: 14px;
    .title {
      font-size: 18px;
      font-weight: 600;
      .greyTitle {
        color: #7d818e;
      }
    }
  }
  .tabsWrapper {
    width: 97%;
    background-color: #fff;
    height: auto;
    max-height: 700px;
    overflow: scroll;
    border: solid 1px #e9ebf0;
    padding: 15px;
    margin-top: 10px;
    .headerWrapper {
      .tabsHeader {
        li {
          padding: 8px 15px;
          margin-right: 21px;
          display: inline-block;
          color: #878e95;
          font-weight: 700;
          letter-spacing: 1.71px;
          text-transform: uppercase;
        }
        li:hover {
          background: #f8f8f9;
          color: #3e3e58;
        }
        li.active {
          background: #f8f8f9;
          color: #3e3e58;
        }
      }
    }
    .tabsBody {
      margin-top: 36px;
      .bodyHeaders {
        display: flex;
        span {
          display: flex;
          flex-basis: 14%;
          font-weight: 700;
        }
      }
    }
    .rowWrapper {
      margin-top: 13px;
      .rowParent {
        border-bottom: 1px solid #e9ebf0;
      }
    }
    .rowWrapperHeight {
      max-height: 500px;
    }
  }
  .listItem {
    display: flex;
    flex: 2;
    justify-content: center;
    .parentItem {
      color: #637280;
      display: flex;
      flex-direction: column;
      width: 220px;
      .headingParent {
        padding: 15px;
        cursor: pointer;
        border-bottom: 1px solid #eaeaea;
        background: #f6fafd;
        .listContainer {
          margin-top: 20px;
          ul {
            li {
              padding: 5px 0px 5px 0px;
            }
          }
        }
      }
    }
  }
  .notFoundParent {
    display: flex;
  }
  .contentViewer {
    display: flex;
    flex: 4;
  }
  .statParent {
    display: flex;
    margin-top: 10px;
    .analytics {
      display: flex;
      flex: 2;
      min-height: 300px;
      background: #fff;
      flex-direction: column;
      .chartContainer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 65px 30px;
        span.typeLabel {
          margin-left: 45px;
          text-transform: uppercase;
          color: #323c5a;
        }
      }
      .header {
        display: flex;
        border-bottom: 1px solid #eaeaea;
        padding: 12px;
        .elements {
          display: flex;
          flex: 1;
          align-items: center;
          span {
            margin-right: 5px;
          }
        }
      }
    }
    .count {
      display: flex;
      flex: 1;
      flex-direction: column;
      margin-left: 10px;
      div:first-child {
        margin-bottom: 10px;
      }
    }
  }
}

@-webkit-keyframes expand {
  0% {
    height: 0px;
  }
  100% {
    height: 1000px;
  }
}
@keyframes expand {
  0% {
    height: 0px;
  }
  100% {
    height: 1000px;
  }
}
