@import '../../commonstyles/variables.scss';

.filterPanelContainer {
  background-color: #f6f8fc;
  height: 56px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  padding: 0px 16px;
  .title {
    @include fontStyle(12px, #7b93b4, normal);
    font-weight: 800;
    margin-left: 16px;
    font-style: normal;
    font-stretch: normal;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.8px;
  }
}
.white {
  background: $White;
}
.border {
  border-top: 1px solid #e6ebf3;
  border-bottom: 1px solid #e6ebf3;
}
