@import '../../commonstyles/variables.scss';
.clicked {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex: 1;

  .highlighted {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    padding-bottom: 18px;
    padding-top: 28px;
    //padding-left: 4%;
    width: 100%;
    //border-right: 1px solid #ffffff14;
    .amount {
      @include fontStyle(16px, #ffffff);
      font-weight: bolder;
      border-right: 1px solid #ffffff14;
    }
    .text {
      @include fontStyle(15px, #ffffff);
      font-weight: bolder;
    }
  }
  .clickicon {
    height: 5px;
    background-color: #00b9f5;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-left: 5%;
    margin-right: 5%;
  }
}
.click {
  display: flex;
  flex: 1;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  .highlight {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    padding-bottom: 18px;
    padding-top: 28px;
    //padding-left: 4%;
    width: 100%;
    //border-right: 1px solid #ffffff14;

    .amount {
      @include fontStyle(16px, #ffffff);
      font-weight: normal;
    }
    .text {
      @include fontStyle(15px, #ffffff);
      font-weight: bolder;
    }
  }
  .clickic {
    height: 5px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
}
