@import "../../commonstyles/variables.scss";

.modal {
  .content {
    background: $White;
    position: fixed;
    z-index: 99;
    color: $DBlack;
    @extend .fullWidth;
    border-radius: 8px;
    overflow-y: auto;
    height: 570px;
    width: 400px;
    max-height: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    .backArrowIcon {
      position: fixed;
      left: 15px;
      top: 20px;
      font-size: 25px;
      z-index: 5;
    }

    .fixCloseIcon {
      position: fixed !important;
      right: 15px !important;
      top: 20px !important;
      z-index: 20;
    }

    .closeIcon {
      background: $borderCol;
      color: $DGrey;
      padding: 6px;
      font-weight: 100;
      font-size: 18px;
      position: absolute;
      right: 0px;
      top: 0px;
      width: 42px;
      height: 42px;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        width: 17px;
        height: 17px;
      }
    }
  }

  .backdrop {
    background: $Black;
    background: rgba(0, 0, 0, 0.6);
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    @extend .fullWidth;
    z-index: 99;
  }
}
