@import "../../../commonstyles/variables.scss";

.contentPanel {
  display: flex;
  flex-direction: column;
  width: 85%;
  padding: 10px;
  .upperPanel {
    width: 100%;
    background-color: #fff;
    height: 100px;
    border: solid 1px #e9ebf0;
    padding: 15px;
    .title {
      font-size: 18px;
      font-weight: 600;
      display: flex;
      .greyTitle {
        color: #7d818e;
      }
      .accessRequestType {
        border: 1px solid #5da30f;
        color: #5da30f;
        padding: 5px;
        border-radius: 20px;
        font-size: 9px;
        margin-left: 10px;
        text-transform: capitalize;
      }
      .deleteRequestType {
        border: 1px solid #ff6565;
        color: #ff6565;
        padding: 5px;
        border-radius: 20px;
        font-size: 9px;
        margin-left: 10px;
        text-transform: capitalize;
      }
    }
    .filterPanel {
      display: flex;
      .addRequest {
        flex: 2;
        display: flex;
        justify-content: flex-end;
        margin-right: 15px;
      }
      .requestInfo {
        padding-top: 15px;
        color: #7d818e;
        span {
          margin-right: 10px;
        }
      }
      .selectOptionParent {
        padding-top: 15px;
        margin-left: 48px;
        display: flex;
        align-items: center;
        @include fontStyle(12px, #4a4a4a, 500);
        span {
          margin-right: 5px;
        }
        .identifier {
          font-weight: 600;
        }
        .addRequestBtn {
          background: #786be6;
          color: $White;
          padding: 13px 9px;
          @include fontStyle(11px, $White, 900);
          letter-spacing: 1px;
          text-transform: uppercase;
          cursor: pointer;
          border-radius: 3px;
        }
      }
      .selectDropdown {
        border: 1px solid #dbdbdb;
        min-width: 123px;
        min-height: 25px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-left: 12px;
        border-radius: 12.5px;
      }
    }
  }
  .tabsWrapper {
    width: 97%;
    background-color: #fff;
    height: auto;
    max-height: 700px;
    overflow: scroll;
    border: solid 1px #e9ebf0;
    padding: 15px;
    margin-top: 10px;
    .headerWrapper {
      .tabsHeader {
        li {
          padding: 8px 15px;
          margin-right: 21px;
          display: inline-block;
          color: #878e95;
          font-weight: 700;
          letter-spacing: 1.71px;
          text-transform: uppercase;
        }
        li:hover {
          background: #f8f8f9;
          color: #3e3e58;
        }
        li.active {
          background: #f8f8f9;
          color: #3e3e58;
        }
      }
    }
    .tabsBody {
      margin-top: 36px;
      .bodyHeaders {
        display: flex;
        span {
          display: flex;
          flex-basis: 14%;
          font-weight: 700;
        }
      }
    }
    .rowWrapper {
      margin-top: 13px;
      .rowParent {
        border-bottom: 1px solid #e9ebf0;
      }
    }
  }
  .listItem {
    display: flex;
    flex: 2;
    justify-content: center;
    .parentItem {
      color: #637280;
      display: flex;
      flex-direction: column;
      width: 220px;
      .headingParent {
        padding: 15px;
        cursor: pointer;
        border-bottom: 1px solid #eaeaea;
        background: #f6fafd;
        .listContainer {
          margin-top: 20px;
          ul {
            li {
              padding: 5px 0px 5px 0px;
            }
          }
        }
      }
    }
  }
  .contentViewer {
    display: flex;
    flex: 4;
  }
}

.noAssigneeFound {
  display: flex;
  justify-content: flex-start;
  border-radius: 11px;
  background-color: #f0eefb;
  padding-left: 7px;
  padding-right: 7px;
  width: 60%;
  color: #3f3356;
}

@-webkit-keyframes expand {
  0% {
    height: 0px;
  }
  100% {
    height: 1000px;
  }
}
@keyframes expand {
  0% {
    height: 0px;
  }
  100% {
    height: 1000px;
  }
}

progress {
  color: black;
}

progress::-webkit-progress-value {
  background: black;
}

progress::-moz-progress-bar {
  background: black;
}

progress::-webkit-progress-value {
  background: black;
}

progress::-webkit-progress-bar {
  background: black;
}
