<html>
  <head>
    <title>My Tasks</title>
    <link rel="stylesheet" href="./style.css" />
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.min.js"
    ></script>
  </head>

  <body>
    <div id="requestMapInstance">
      <div class="passwordAssist" v-if="showLogin==true" v-model="showLogin">
        <div class="assistContainer">
          <img src="./images/logo.svg" />
          <label>
            Enter Password To Continue
            <input
              type="password"
              placeholder="Password"
              name="password"
              autofocus
            />
          </label>
          <button type="button" v-on:click="showLogin=false">Submit</button>
        </div>
      </div>
      <div class="logo">
        <img src="./images/logo.svg" />
      </div>

      <div class="container">
        <div class="tableHeader">
          <span>
            Request ID
          </span>
          <span>
            Silos Name
          </span>
          <span>
            Status
          </span>
          <span>
            Owner
          </span>
          <span>
            Source
          </span>
          <span>
            Flow Type
          </span>
          <span>
            Identifier
          </span>
          <span> </span>
        </div>
        <div class="tableBody" v-model="tableData">
          <div class="tableRow" v-for="item in tableData">
            <span>
              {{item.requestId}}
            </span>
            <span>
              {{item.silos_name}}
            </span>
            <span>
              {{item.status}}
            </span>
            <span>
              {{item.owner}}
            </span>
            <span>
              {{item.source}}
            </span>
            <span>
              {{item.flow_type}}
            </span>
            <span>
              {{item.identifier}}
            </span>
            <span>
              {{item.fileName}}
              <div
                class="uploadContainer"
                v-if="!item.fileName && item.isUploadOption"
              >
                <div class="fileUploadWrapper">
                  <button type="button" class="btn">
                    Upload
                  </button>
                  <input type="file" name="myfile" />
                </div>
              </div>
              <!-- <div v-else>
                        </div> -->

              <!-- {{item.upload}} -->
            </span>
          </div>
        </div>
      </div>
    </div>

    <script type="text/javascript">
      var vm = new Vue({
        el: "#requestMapInstance",
        data: {
          showLogin: false,
          tableData: [
            {
              requestId: "7XHE223",
              silos_name: "Salesforce",
              status: "In-Progress",
              owner: "Bareskin",
              source: "3rd Party",
              flow_type: "Manual",
              identifier: "abc@gmail.com",
              upload: "Upload",
              isUploadOption: true
            },
            {
              requestId: "7XHE223",
              silos_name: "Asana",
              status: "In-Progress",
              owner: "Bareskin",
              source: "3rd Party",
              flow_type: "Auto",
              identifier: "abc@gmail.com",
              upload: "Upload",
              isUploadOption: false
            },
            {
              requestId: "7XHE223",
              silos_name: "Asana",
              status: "In-Progress",
              owner: "Bareskin",
              source: "3rd Party",
              flow_type: "Auto",
              identifier: "abc@gmail.com",
              upload: "Upload",
              isUploadOption: false
            },
            {
              requestId: "7XHE223",
              silos_name: "Asana",
              status: "In-Progress",
              owner: "Bareskin",
              source: "3rd Party",
              flow_type: "Manual",
              identifier: "abc@gmail.com",
              upload: "Upload",
              isUploadOption: true
            }
          ]
        },
        computed: {
          finalamount: () => {}
        },
        mounted() {
          this.showLogin = true;
        },
        methods: {
          closePassword: () => {
            console.log(this);
            this.showLogin = false;
          }
        },
        watch: {
          showLogin: function(newVal, oldVal) {
            console.log(newVal, oldVal);
          }
        }
      });
    </script>
  </body>
</html>
