@font-face {
  font-family: "MarkPro";
  src: url("fonts/FontFont_FF.Mark.Pro.otf") format("openType");
}
body {
  background: #f7f8fa;
  color: #3e3e58;
  font-family: MarkPro;
  margin: 0px;
}
input,
button,
textarea {
  font-family: inherit;
}
.passwordAssist {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #0000005e;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.assistContainer {
  border-radius: 2px;
  height: 340px;
  width: 400px;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 35px;
  box-shadow: 1px 1px 1px 1px #7c7a7ab3;
}
.assistContainer label {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15px;
  width: 100%;
}
.assistContainer label input {
  width: 90%;
  height: 37px;
  background: #fbfbfb;
  border: 1px solid #eaeaea;
  border-radius: 3px;
  margin-top: 10px;
  padding-left: 10px;
}
.assistContainer label input:focus {
  border: 1px solid #eaeaea;
}
.assistContainer button {
  width: 100px;
  height: 30px;
  margin-left: auto;
  margin-right: auto;
  background: #7b68ee;
  color: #fff;
  border: none;
  border-radius: 1px;
  letter-spacing: 0.8px;
}

.logo {
  padding: 20px;
}
#requestMapInstance {
  background: #fff;
  min-height: 700px;
  height: auto;
  /* padding:20px; */
}
.container {
  display: flex;
  flex-direction: column;
}
.container .tableHeader {
  display: flex;
  flex: 1;
}
.container .tableHeader span {
  display: flex;
  flex-basis: 25%;
  padding: 20px;
  font-weight: 900;
  font-size: 14px;
  letter-spacing: 0.8px;
}

.container .tableBody .tableRow {
  display: flex;
  font-weight: 500;
  font-size: 12px;
}
.container .tableBody .tableRow:hover {
  background: #fafafa;
}
.container .tableBody .tableRow span {
  display: flex;
  flex-basis: 25%;
  padding: 20px;
}

.fileUploadWrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.btn {
  padding: 5px 9px;
  font-size: 10px;
  font-weight: normal;
  border-radius: 4.2px;
  color: white;
  box-shadow: none;
  border: none;
  background-image: linear-gradient(to bottom, #7b68ee, #7b68ee);
}

.fileUploadWrapper input[type="file"] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
