@import "../../commonstyles/variables.scss";
.logoContainer {
  padding-left: 137px;
  position: relative;
  img {
    width: 160px;
    position: absolute;
    top: 24px;
  }
}
.container {
  display: flex;
  padding: 133px;
  background: url("../../public/images/BG.png");
  background-position-x: 100%;
  background-position-y: 0px;
  background-repeat: no-repeat;
  // background-position: right;
  background-size: 670px;
  .introText {
    display: flex;
    flex-direction: column;
    flex: 2;
    padding: 16px;
    span:first-child {
      @include fontStyle(58px, $DBlack, 900);
    }
    span:nth-child(2) {
      @include fontStyle(16px, #8591b0, 500);
      width: 70%;
      padding-top: 20px;
    }
  }
  .rightDemo {
    margin-top: -50px;
    display: flex;
    flex: 1;
    justify-content: center;
    padding: 16px;
    flex-direction: column;
    /* align-items: center; */
    border: 1px solid #fff;
    background: #fff;
    box-shadow: 0 18px 58px 0 rgba(103, 114, 229, 0.2);
    .innerParent {
      padding: 25px;
      display: flex;
      flex-direction: column;
      padding-bottom: 15px;
      span:first-child {
        font-size: 24px;
        letter-spacing: 0.8px;
        @include fontStyle(24px, $Theme, 600);
      }
      span:nth-child(2) {
        @include fontStyle(16px, #9b9b9b, 500);
      }
      .inputHolder {
        display: flex;
        flex-direction: column;
        padding-top: 15px;
        .inputParent {
          padding-bottom: 15px;
          display: flex;
          justify-content: center;
          padding-left: 12px;
          flex-direction: column;
          input {
            width: 90%;
            height: 31px;
            border-radius: 4px;
            border: 1px solid #eaeaea;
            padding-left: 15px;
            letter-spacing: 0.7px;
          }
          button {
            width: 91%;
            padding: 15px;
            background: $Theme;
            border-radius: 4px;
            @include fontStyle(14px, $White, 500);
          }
          span.error {
            @include fontStyle(12px, $Red, 400);
            padding-top: 5px;
          }
        }
      }
    }
  }
  .requestDemoBtn {
    button {
      background-color: #ff8989;
      color: $White;
      font-size: 14px;
      border: none;
      height: 38px;
    }
    display: none;
  }
  .panelContainer {
    display: none;
  }
}

.introPane {
  display: flex;
  flex-direction: column;
  align-items: center;
  span {
    width: 70%;
    text-align: center;
    padding-bottom: 20px;
  }
  span:first-child {
    @include fontStyle(48px, $DBlack, 600);
  }
  span:nth-child(2) {
    @include fontStyle(16px, #8591b0, 500);
  }
  span:nth-child(3) {
    @include fontStyle(16px, #333333, 500);
  }
  span.secondTitle {
    font-size: 36px;
    color: #323c5a;
    letter-spacing: 0.75px;
  }
  .inviteBtnHolder {
    position: relative;
    input {
      width: 244px;
      height: 48px;
      border-radius: 80px;
      border: solid 0.8px #dddddd;
      padding: 0px 20px;
      &::placeholder {
        color: $DBlack;
        font-weight: 550;
      }
    }
    .applyNow {
      button {
        width: 35%;
        height: 36px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0px;
        position: absolute;
        right: 9px;
        top: 6px;
        background: #7b68ee;
        color: #fff;
        border-radius: 18px;
        box-shadow: 0 6px 13px 0 rgba(108, 103, 222, 0.29);
        font-weight: 500;
      }
    }
  }
}
.greyBlock {
  background: #f1effd;
  padding-top: 82px;
  padding-bottom: 103px;
}

.description {
  height: auto;
  margin-top: 70px;
  background-image: linear-gradient(to right, #7e6bf0 40%, #9f8fff);
  display: flex;

  .content {
    display: flex;
    flex-direction: column;
    padding: 107px;
    flex: 2;
    span:first-child {
      @include fontStyle(48px, $White, 900);
    }

    span:nth-child(2) {
      @include fontStyle(16px, $White, 500);
      margin-top: 15px;
    }
  }
  .blockContent {
    padding: 20px;
    display: flex;
    flex: 2;
    .blockParent {
      display: flex;
      flex-direction: column;
      .blockHolder {
        display: flex;
        padding: 24px;
        div {
          border-radius: 5px;
          margin-right: 25px;
          height: 85px;
          width: 85px;
          background: $White;
          display: flex;
          flex: 1;
        }
      }
      .blockHolder:nth-child(2) {
        div:nth-child(2) {
          flex: 2;
        }
      }
    }
  }
}

.infoBlockWrapper {
  display: flex;
  justify-content: center;
  padding: 25px 192px 30px 192px;
  div.imageHolder {
    display: flex;

    img {
      min-width: 416px;
    }
  }
  .contentHolder {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-left: 147px;
    justify-content: center;
    span:first-child {
      font-size: 36px;
      font-weight: 900;
    }
    span:nth-child(2) {
      @include fontStyle(16px, #8591b0, 500);
      margin-top: 15px;
    }
  }
}
.rightInfoBlockWrapper {
  display: flex;
  justify-content: center;
  padding: 25px 192px 30px 192px;
  div.imageHolder {
    display: flex;
    img {
      min-width: 416px;
    }
  }
  .contentHolder {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-right: 147px;
    justify-content: center;
    span:first-child {
      font-size: 36px;
      font-weight: 900;
    }
    span:nth-child(2) {
      @include fontStyle(16px, #8591b0, 500);
      margin-top: 15px;
    }
  }
}
.footer {
  // padding-top: 73px;
  border: 1px solid #eaeaea;
  // margin-top: 90px;
  display: flex;
  justify-content: center;
  // padding-bottom: 88px;
  div {
    padding: 15px;
    display: flex;
    flex-direction: column;
    span:first-child {
      @include fontStyle(16px, $DBlack, 700);
      padding-bottom: 30px;
    }
    span {
      @include fontStyle(14px, #333333, 500);
      a {
        color: #333333;
      }
    }
  }
}

/* Media Queries: Tablet Landscape */
@media screen and (max-width: 1060px) {
  // #primary { width:67%; }
  // #secondary { width:30%; margin-left:3%;}
}

/* Media Queries: Tabled Portrait */
@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
    background: $White;
    padding: 0px;
    .introText {
      align-items: center;
      text-align: center;
      span:first-child {
        font-size: 24px;
        color: #7e6bf0;
        width: 85%;
      }
      span:nth-child(2) {
        width: 100%;
      }
    }
    .rightDemo {
      margin-top: 0px;
      display: none;
    }
    .requestDemoBtn {
      display: flex;
      justify-content: center;
      padding: 20px;

      button {
        background: #7e6bf0;
        border-radius: 5px;
        letter-spacing: 0.3px;
      }
    }
    .panelContainer {
      display: block;
      background: url("../../public/images/BG.png");
      background-position-x: 100%;
      background-position-y: 0px;
      background-repeat: no-repeat;
      // background-position: right;
      background-size: 360px;
      img {
        width: 100%;
      }
    }
  }
  .introPane {
    span:first-child {
      font-size: 24px;
      padding: 20px;
    }
    span.secondTitle {
      font-size: 32px;
      color: #323c5a;
      letter-spacing: 0.75px;
      width: 100%;
    }
  }
  .description {
    flex-direction: column;
    .content {
      padding: 20px;
      text-align: center;
    }
    .blockContent {
      .blockParent {
        width: 107%;
        .blockHolder {
          display: flex;
          padding: 7px;
          div {
            border-radius: 5px;
            margin-right: 25px;
            height: 72px;
            width: 10vh;
            background: $White;
            display: flex;
            flex: 1;
          }
        }
        .blockHolder:nth-child(2) {
          div:nth-child(2) {
            flex: 2;
          }
        }
      }
    }
  }
  .infoBlockWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    text-align: center;
    .imageHolder {
      img {
        min-width: 355px !important;
      }
    }
    .contentHolder {
      padding-left: 0px;
      justify-content: center;
      align-items: center;
    }
  }
  .rightInfoBlockWrapper {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    padding: 25px;
    justify-content: center;
    .imageHolder {
      img {
        min-width: 355px !important;
      }
    }
    .contentHolder {
      padding: 0px;
      justify-content: center;
      align-items: center;
      span {
        text-align: center;
      }
    }
  }
  .footer {
    flex-direction: column;
    align-items: center;
    div {
      padding: 0px;
      text-align: center;
    }
  }
  .logoContainer {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: relative; */
    margin-bottom: 20px;
    padding-top: 0px;
    img {
      width: 160px;
      position: relative;
    }
  }
}

.soonCard {
  display: flex;
  justify-content: center;
  color: #7b68ee;
}

.acceptCookie {
  height: 80px;
  background: #000000c7;
  font-size: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  @include fontStyle(17px, $White, 600);
  .acceptCta {
    background: $Theme;
    margin-left: 40px;
    padding: 12px;
    @include fontStyle(17px, $White, 600);
    cursor: pointer;
    border-radius: 4px;
  }
}

@media screen and (min-width: 1900px) {
  .logoContainer {
    padding-left: 350px;
    position: relative;
  }
  .container {
    padding-left: 350px;
    padding-right: 350px;
  }
  .introPane {
    padding-left: 350px;
    padding-right: 350px;
  }
  .infoBlockWrapper {
    padding-left: 300px;
    padding-right: 300px;
  }
  .rightInfoBlockWrapper {
    padding-left: 300px;
    padding-right: 300px;
  }
}
