.contentPanel {
  margin: 10%;
  display: flex;
  .listItem {
    display: flex;
    flex: 2;
    justify-content: center;
    .parentItem {
      color: #637280;
      display: flex;
      flex-direction: column;
      width: 220px;
      .headingParent {
        padding: 15px;
        cursor: pointer;
        border-bottom: 1px solid #eaeaea;
        background: #f6fafd;
        .listContainer {
          margin-top: 20px;
          ul {
            li {
              padding: 5px 0px 5px 0px;
            }
          }
        }
      }
    }
  }
  .contentViewer {
    display: flex;
    flex: 4;
    .btnParent {
      display: flex;
      flex-direction: column;
      margin-bottom: 90px;
      height: 38px;
      div {
        margin-top: 30px;
        display: flex;
        height: 38px;
        flex: 1;
        input {
          display: flex;
          // flex: 2;
          border-radius: 4px;
          border: 1px solid #eaeaea;
          padding: 16px;
          width: 175px;
        }
        button {
          font-size: 13px;
          padding-top: 11px;
          font-weight: 900;
          padding-left: 0;
          padding-right: 0;
          display: flex;
          width: 175px;
          // flex: 1;
          justify-content: center;
        }
      }
      span {
        padding-top: 15px;
        color: red;
        letter-spacing: 0.5px;
      }
    }
  }
}

.table {
  margin-top: 30px;
  height: 300px;
  .tableRow {
    padding: 17px;
    background-color: #f7f8fa;
    display: flex;
    span {
      display: flex;
      flex-basis: 70%;
    }
  }
}

.renderFetchedData {
  width: 50%;
  word-break: break-all;
  margin: auto;
  border: 1px solid #eaeaea;
  padding: 20px;
  background: #fbffff;
}
.dataParent {
  position: relative;
}
