@import "../../../commonstyles/variables.scss";

.sideNavParent {
  width: 201px;
  display: flex;
  flex-direction: column;
  background: #fff;
  .title {
    display: flex;
    justify-content: center;
    font-weight: 700;
    position: absolute;
    top: 32px;
    left: 30px;
    z-index: 99;
  }
  .menuHolder {
    display: flex;
    align-items: flex-start;
    background: #fff;
    height: 100vh;
    ul {
      padding: 30px;
      .listItemParent {
        display: flex;
        .iconPlaceholder {
          img {
            width: 24px;
            height: 23px;
          }
        }
      }

      li {
        @include fontStyle(11px, $DBlack, 500);
        padding-bottom: 30px;
        padding-left: 20px;
        cursor: pointer;
        margin-top: 6px;
      }
    }
  }
}
.activeIcon {
  background-color: #6772e5;
}
.active {
  color: #6772e5;
  li {
    color: #6772e5 !important;
  }
}
