@import '../../commonstyles/variables.scss';

.formElemWrapper{
      margin-bottom: 10px;
      display: flex;
      flex-direction: column;
      .label{
        @include fontStyle(10px, #3e3e58, 300);
        line-height: 2;
        letter-spacing: 0.2px;
        text-transform: uppercase;
      }
      .checkboxLabel{
        padding-top: 3px;
      }
      input, textarea {
        background:#efeef8;
        height:38px;
        border: 1px solid #dbdbdb;
        padding:2px;
        padding-left: 12px;
        border-radius: 3px;
        box-shadow: none;
        font-size: 12px;
      }
      textarea{
        resize: none;
        height:126px;
      }
}
.checkBoxWrapper{
  display:flex;
  flex-direction: row;
}

.checkboxContainer {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkboxContainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkMark {
  position: absolute;
  top: 0;
  left: 0;
  height: 14px;
  width: 14px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.checkboxContainer:hover input ~ .checkMark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkboxContainer input:checked ~ .checkMark {
  background-color: #6772e5;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkMark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkboxContainer input:checked ~ .checkMark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkboxContainer .checkMark:after {
  left: 5px;
  top: 2px;
  width: 2px;
  height: 6px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  
}
