@import "../../commonstyles/variables.scss";

.container {
  font-family: "MarkPro";
  .optionSelector {
    position: relative;
    input {
      background: $White;
      border: solid 1px #e9ebf0;
      padding: 11px;
      cursor: pointer;
    }
  }
  .optionSelector::before {
    border-style: solid;
    border-width: 0.11em 0.11em 0 0;
    content: "";
    display: inline-block;
    height: 0.45em;
    right: 13px;
    position: absolute;
    vertical-align: top;
    width: 0.45em;
    top: 12px;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    color: #4a4a4a;
  }
  .optionHolder {
    background: #fff;
    border: 1px solid #eaeaea;
    position: absolute;
    width: 124px;
    padding: 12px;
    margin-top: 5px;
    box-shadow: 5px 5px 23px 0 rgba(179, 179, 179, 0.25);
    display: flex;
    flex-direction: column;
    z-index: 99;
    span {
      padding: 4px;
    }
    span:hover {
      background-color: #f7f8fa;
    }
  }
}

.optionSelect_custom {
  .optionSelector {
    position: relative;
    input {
      border-radius: 25px;
      padding: 5px;
      padding-left: 14px;
      width: 115px;
      border: 0.5px solid #979eab;
      @include fontStyle(12px, $Brown, 500);
    }
  }
  .optionSelector::before {
    border-style: solid;
    border-width: 0.11em 0.11em 0 0;
    content: "";
    display: inline-block;
    height: 0.25em;
    right: 13px;
    position: absolute;
    vertical-align: top;
    width: 0.25em;
    top: 10px;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    color: #4a4a4a;
  }
  .optionHolder {
    background: #fff;
    border: 1px solid #eaeaea;
    position: absolute;
    width: 124px;
    padding: 12px;
    margin-top: 5px;
    box-shadow: 5px 5px 23px 0 rgba(179, 179, 179, 0.25);
    display: flex;
    flex-direction: column;
    z-index: 99;
    span {
      padding: 4px;
    }
    span:hover {
      background-color: #f7f8fa;
    }
  }
}
