@import '../../commonstyles/variables.scss';
.container {
  display: flex;
  justify-content: space-around;

  border-bottom: 1px solid #e6ebf3;

  .columncontainer {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 100%;
    .namecontainer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 15px;
      padding-bottom: 5px;
      padding-left: 20px;
      width: 100%;
      .name {
        @include fontStyle(14px, #182233);
        font-weight: normal;
      }
      .amountDefault {
        @include fontStyle(14px, $DBlack, 700);
      }
      .orange {
        @include fontStyle(14px, #ff9e00, 700);
      }
      .green {
        @include fontStyle(14px, #00c673, 700);
      }
    }
    .mobilecontainer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-left: 20px;
      padding-bottom: 20px;
      width: 100%;
      .mobile {
        //width: 91px;
        @include fontStyle(12px, #86a0c2);
        font-weight: normal;

        //padding: 16px 20px 16px;
      }
      .type {
        //width:100px;
        @include fontStyle(12px, #86a0c2, 500);
      }
      .amountorange {
        @include fontStyle(14px, #ff9e00, 500);
        // padding: 16px 20px 16px;
        //  width: 100px;
        // padding-left: 140px;
      }
      .amountgreen {
        @include fontStyle(14px, #00c673, 500);
      }
      .amountDefault {
        @include fontStyle(14px, $DBlack, 500);
      }
    }
  }
  .imagecontainer {
    .image {
      padding-right: 12px;
      width: 20px;
      height: 20px;
      padding-top: 23px;
      padding-left: 30px;
    }
  }
  .customerInfoDetails {
    display: flex;
    width: 100%;
    padding-top: 12px;
    padding-bottom: 12px;
    .saleTab {
      display: flex;
      justify-content: center;
      align-content: center;
      flex-direction: column;
      padding-left: 35px;
      .dateHolder {
        @include fontStyle(11px, $Grey, 500);
      }
    }
    span {
      display: flex;
      flex: 1;
      justify-content: flex-start;
      font-weight: 600;
    }
    span.payment {
      padding-left: 35px;
    }
    .customerResultant {
      display: flex;
      flex: 1;
      justify-content: center;

      div {
        display: flex;
        justify-content: center;
        flex: 1;
        flex-direction: column;
        padding-left: 18px;
        span:nth-child(2) {
          padding-top: 1px;
          font-size: 11px;
        }
      }
      img {
        padding-right: 12px;
        width: 24px;
      }
    }
  }
}
.divcontainer {
  padding-top: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid #e6ebf3;
  .transaction {
    display: flex;
    justify-content: center;
    padding-top: 2px;
    align-items: center;
    width: 100%;
    span {
      flex: 1;
      justify-content: center;

      @include fontStyle(14px, $DBlack);
      font-weight: normal;
    }
    .amount {
      text-align: right;
    }
    .date {
      margin-right: 15%;
    }
    .cash {
      margin-right: 0%;
    }
    .udhar {
      text-align: right;
      color: #ff9e00;
    }
    .udhar1 {
      text-align: left;
      color: #ff9e00;
    }
    .advance1 {
      text-align: left;
      color: #00c673;
    }
    .advance {
      text-align: right;
      color: #00c673;
    }
    .name {
      @include fontStyle(12px);
    }
    .mode {
      @include fontStyle(12px, #86a0c2);
    }
  }
}
