.loginContainer {
  background: #f8f9fc;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .innerParent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    div {
      padding-top: 20px;
    }
  }
}

.loginInput {
  height: 42px;
  background: #fff;
  border-radius: 4px;
  box-shadow: 1px 2px 3px 0 #edeef5;
  min-width: 400px;
  border: none;
  width: 100%;
  padding-left: 15px;
}

.bigText {
  font-size: 30px;
  letter-spacing: 1px;
}
