@import '../../commonstyles/variables.scss';
$PillBorder: #e6ebf3;

.pill {
  border: 1px solid $PillBorder;
  padding: 10px;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
  min-width: 35px;
  margin-left: 5px;
  font-weight: 700;
}
.reportpill {
  border-radius: 25px;
  height: 24px;
  width: 31%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(36, 132, 232, 0.5);
  .text {
    @include fontStyle(12px, #ffffff);
  }
}
.selectedreportpill {
  border-radius: 25px;
  height: 24px;
  width: 31%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  .text {
    @include fontStyle(12px, #002e6e);
    font-weight: bolder;
  }
}
.active {
  background: $Blue;
  color: $White;
  border: none;
}
.white {
  background: $White;
}
