@import '../../commonstyles/variables.scss';

.floatingButton {
  width: 100%;
  text-align: center;
  position: fixed;
  bottom: 30px;
  .button {
    @include fontStyle(17.5px, $White, 500);
    width: 180px;
    height: 40px;
    border-radius: 500px;
    background-color: #00b9f5;
    box-shadow: 7px 9px 5px -6px rgba(0, 0, 0, 0.5);
    border: none;
    .addImg {
      width: 25px;
      height: 25px;
      vertical-align: middle;
    }
    span {
      vertical-align: middle;
    }
  }
}
