@import "../../commonstyles/variables.scss";

.headerChildrenParent {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  background: white;
  height: 42px;
  .logout {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 12px;
    margin-right: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    font-weight: 800;
    span:first-child {
      margin-right: 20px;
    }
    img {
      width: 16px;
      margin-right: 5px;
      padding: 8px;
    }
    &:hover {
      img {
        background: #d2d6f5;
      }
    }
  }
  ul {
    list-style: none;
    display: flex;
    li {
      padding: 10px;
      margin-right: 20px;
      cursor: pointer;
      span {
        @include fontStyle(14px, $DBlack, 600);
        padding: 10px;
      }
    }
    li.btn {
      background: #9f8fff;
      box-shadow: 0 5px 7px 0 rgba(103, 114, 229, 0.2);
      span {
        @include fontStyle(14px, $White, 600);
      }
    }
  }
}
.dropDownParent {
  background: #fff;
  height: auto;
  width: 170px;
  border: 1px solid #eaeaea85;
  position: absolute;
  top: 65px;
  right: 20px;
  box-shadow: 1px 1px 11px 1px #f5f3f3;

  ul {
    display: block;
    li:hover {
      background: #fafafa;
      margin-right: 0px;
    }
  }

  opacity: 1; /* This keeps the opacity at 1 after the animation has run (e.g. could be considered as the final or default stage of the element) */
  animation: opacity 300ms ease-in-out normal;
  -moz-animation: opacity 300ms ease-in-out normal;
  -ms-animation: opacity 300ms ease-in-out normal;
  -o-animation: opacity 300ms ease-in-out normal;
  -webkit-animation: opacity 300ms ease-in-out normal;
}

// Animation
@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-ms-keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
