@import '../../commonstyles/variables.scss';

.calendar-container {
  &.pos-relative {
    position: relative;
  }

  .fullCalender {
    overflow-y: auto;
    height: 270px;
    position: relative;
    padding-bottom: 70px;
  }
  .yearsView {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
  }
  .yearsView span {
    padding: 5px;
    text-align: center;
    vertical-align: middle;
    border: 1px solid $Blue;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    height: 40px;
    border-radius: 2px;
  }
  .yearsView span:hover {
    background-color: $Blue;
    color: $White;
  }

  .cal-monthHead {
    font-size: 20px;
    margin: 20px 0 0 20px;
    font-weight: 600;
    display: flex;
    justify-content: center;
  }

  .cal-monthName {
    font-weight: 700;
  }

  .cal-monthView {
    display: block;
  }

  .cal-yearName {
    font-weight: 300;
  }

  .cal-dayHead {
    margin-top: 16px;
  }

  .cal-dayName,
  .cal-day {
    width: 14.28%;
    padding: 0 0.1%;
    display: inline-block;
    text-align: center;
    box-sizing: border-box;
  }

  .cal-dayName {
    border-bottom: 1px solid #efefef;

    p {
      font-size: 10px;
      line-height: 12px;
      letter-spacing: 2px;
      color: #999999;
      padding-bottom: 13px;
    }
  }

  .cal-mv-weekRow {
    margin: 4px 0px;

    div:last-child {
      margin-bottom: 15px;
    }
  }

  .cal-day {
    border-radius: 25px;
    border: 1px solid $White;
    margin-top: 16px;
    float: left;
  }

  .cal-day {
    p {
      font-size: 14px;
      line-height: 16px;
      color: $DGrey;
      padding: 8px 0px;

      span:not(:empty) {
        cursor: pointer;
      }
    }
  }

  .prevSelection {
    border: none;
  }
  .prevSelection p span {
    color: $Blue !important;
    font-weight: 600;
  }
  .currentDate {
    border-radius: 500px;
    border: 1px solid $Blue;
  }
  .currentDate p span {
    color: $Blue !important;
    font-weight: 600;
  }

  .checkoutDate p span {
    color: $White !important;
  }

  p {
    margin: 0;
  }

  .fromSecond-month,
  .fromSecond-monthViews {
    margin-top: 10px;
  }

  .first-monthView {
    margin-top: 20px;
  }

  .checkinDate,
  .checkoutDate {
    background: $Blue;
    border: 1px solid $Blue;
  }

  .inbetweenDate {
    background: $lightBlue;
    border: 1px solid $lightBlue;
  }

  .checkinDate p,
  .checkoutDate p {
    color: $White;
  }

  .inbetweenDate p {
    color: $DGrey;
  }

  .inbetweenDate {
    border-radius: 0px;
  }

  .norightCurve {
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
  }

  .sameRangeDate {
    border-radius: 100;
    background: $Blue;
  }
  .sameRangeDate p span {
    color: $White !important;
  }
  .checkoutDate {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
  }
  .checkinDate {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  .checkinDate p span {
    color: $White !important;
  }

  .checkoutDate-btn {
    position: fixed;
    bottom: 0px;
    width: 100%;
    border-radius: 0px;
    border: 0px;
    background-color: $Blue;
    margin-bottom: 0px;
    height: 45px;
    color: $White;
  }

  .errorCheckout {
    position: absolute;
    bottom: 0;
    width: 100%;
  }

  .divider {
    height: 0px;
    width: 90%;
    border-bottom-color: #efefef;
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    display: block;
    margin-bottom: 25px;
  }

  &.calendar {
    .container .fromSecond-monthViews:first-child .divider {
      display: none;
    }
  }
  .floatingButton {
    position: fixed;
    bottom: 20px;
    width: 100%;
    text-align: center;
    .button {
      @include fontStyle(17.5px, $White, 500);
      width: 56px;
      height: 56px;
      border-radius: 500px;
      background-color: #00b9f5;
      box-shadow: 7px 9px 5px -6px rgba(0, 0, 0, 0.5);
      border: none;

      .addImg {
        width: 25px;
        height: 25px;
        vertical-align: middle;
      }
      span {
        vertical-align: middle;
        font-size: 24px;
        cursor: pointer;
      }
    }
  }
  .addValiditySection {
    padding: 7px 20px;
    border-radius: 10px 10px 0 0;
    background-color: #fafbfb;

    .dateBlock {
      display: flex;
      margin-top: 20px;

      .startDateBlock,
      .endDateBlock {
        background: #fff;
        border: solid 1px #999999;
        border-radius: 4px;
        position: relative;
        padding: 10px;
        flex: 1;

        i {
          position: absolute;
          top: 14px;
          right: 14px;
          font-size: 24px;
        }

        span:first-of-type {
          font-size: 12px;
          color: #999999;
        }

        span:last-of-type {
          display: block;
          margin-top: 2px;
          font-weight: 500;
        }

        &:first-of-type {
          margin-right: 15px;
        }
      }

      .highlightBorder {
        border: solid 1.5px $Blue;
        background: $Blue;
      }
      .highlightBorder span {
        color: $White !important;
      }
    }

    .dateErrorMsg {
      color: #fd5c5c;
      margin-top: 10px;
      font-size: 12px;
      display: block;
    }
  }
  .fixCloseIcon {
    position: fixed !important;
    right: 15px !important;
    top: 20px !important;
    z-index: 20;
  }

  .closeIcon {
    background: $DGrey;
    color: white;
    border-radius: 20px;
    padding: 8px;
    font-weight: 100;
    font-size: 18px;
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
  }
  .closeIconDiv {
    height: 40px;
    display: flex;
    justify-content: flex-end;
    font-size: 22px;
    font-weight: 700;
    padding: 10px;
    cursor: pointer;
    background: #fafbfb;
  }
}
