@import "../../commonstyles/variables.scss";

.container {
  height: auto;
  margin-bottom: 10px;
  width: 81%;
  position: relative;
  .close {
    float: right;
    /* margin-right: 10px; */
    /* margin-top: 10px; */
    font-weight: 800;
    cursor: pointer;
    background: #d2d6f5;
    color: #3e3e58;
    /* padding: 5px; */
    border-radius: 2px;
    letter-spacing: 0.8px;
    position: absolute;
    height: 41px;
    right: 0;
    /* margin-top: 50%; */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 11px;
    width: 60px;
  }
}
