.ql-container {
  min-height: 200px;
  height: 100% !important;
}

.ql-editor {
  min-height: 200px;
  height: 100% !important;
}
.ql-container.ql-snow,
.ql-toolbar.ql-snow {
  border: 1px solid #e9ebf0;
}
