.fileUploadWrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.btn {
  padding: 5px 9px;
  font-size: 10px;
  font-weight: bold;
  border-radius: 4.2px;
  color: white;
  box-shadow: none;
  border: none;
  background-image: linear-gradient(to bottom, #7b68ee, #7b68ee);
}

.fileUploadWrapper input[type="file"] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
