.body {
  color: #182233;
}

.container {
  margin: 16px;
}
.flex {
  display: flex;
  justify-content: space-between;
  margin: 16px 0px;
}

.transactionRow {
  display: flex;
  margin: 10px 0px;
  font-size: 12px;
  cursor: pointer;
  justify-content: space-between;

  .paid,
  .due {
    flex-basis: 15%;
  }
  .description {
    flex-basis: 50%;
  }
  .date {
    flex-basis: 20%;
  }
}
.modal {
  &Title {
    width: 85px;
    height: 28px;
    font-size: 24px;
    font-weight: 800;
    line-height: 1.17;
  }
  &Main {
    margin: 16px 0px;
  }
  &Option {
    font-weight: bold;
    height: 4rem;
  }
  &Body {
    padding: 24px 16px;
  }
}

.amount {
  font-size: 16px;
  font-weight: 800;
  text-align: right;
}

.label {
  font-size: 12px;
  line-height: 1.33;
  color: #86a0c2;
}

.footer {
  background-color: #f6f8fc;
  padding: 0px 16px 16px;
  &Item {
    color: #00b9f5;
    padding: 12px 0px;
    border-bottom: 1px solid #e6ebf2;
  }
}

.payButton {
  margin: 16px 0px;
}
.storeName {
  font-size: 16px;
  font-weight: 800;
  line-height: 1.25;
  text-align: center;
}

.storeAddress {
  font-size: 12px;
  line-height: 1.33;
  text-align: center;
}

.header {
  font-size: 12px;
  margin: 16px 0px;
  font-weight: bold;
}
.ruler {
  border-top: 1px solid #e6ebf2;
  height: 1px;
}
