@import "../../../commonstyles/variables.scss";

.contentPanel {
  display: flex;
  flex-direction: column;
  width: 85%;
  padding: 10px;
  .upperPanel {
    width: 100%;
    background-color: #fff;
    height: 50px;
    border: solid 1px #e9ebf0;
    padding-left: 15px;
    display: flex;
    align-items: center;
    .title {
      font-size: 18px;
      font-weight: 600;
    }
  }
  .preferenceContainer {
    margin-top: 10px;
    background: #fff;
    padding-top: 10px;
    min-height: 450px;
    height: auto;
    padding-bottom: 40px;
    .prefHeader {
      display: flex;
      span {
        display: flex;
        flex-basis: 30%;
        @include fontStyle(12px, $DBlack, 700);
      }
    }
    .prefBody {
      .prefItemWrapper {
        display: flex;
        span.prefItem {
          margin-top: 41px;
          display: flex;
          flex-basis: 30%;
          @include fontStyle(12px, #3e3e58, 500);
        }
      }
    }
    .btnParent {
      width: 110px;
      float: right;
      margin-top: 60px;
      margin-right: 155px;
    }
  }
  .tab {
    padding-left: 35px;
    padding-top: 30px;
  }
  .silosParent {
    width: 25%;
    padding: 20px;
  }
  .notice {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 450px;
  }
}
