@import '../../commonstyles/variables.scss';

.CardContainer {
  background: linear-gradient(to top, #ce6ed6, #2d49e3);
  min-height: 160px;
  min-width: 100%;
  height: auto;
  width: auto;
  display: flex;
  align-items: center;
  padding-bottom: 16px;
  border-radius: 6px;

  .CardInnerContainer {
    display: flex;
    flex-direction: column;
    padding-left: 16px;
    .title {
      @include fontStyle(12px, $White, 500);
      padding-top: 21px;
    }
    .amountParent {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      width: 80%;
    }
    .amountParent span {
      color: $White;
    }
    .amountParent span:first-child {
      @include fontStyle(24px, $White, 800);
      line-height: 1.17;
    }
    .amountParent span:nth-child(2) {
      @include fontStyle(16px, $White, 500);
      padding-top: 8px;
    }
    .amountParent span:nth-child(3) {
      @include fontStyle(12px, $White, 500);
      padding-top: 23px;
    }
  }
}
