.container {
  input {
    padding: 5px;
  }
  .actionButtons {
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
    span {
      padding: 5px;
      border: 1px solid #eaeaea;
    }
    span:hover {
      background: #eaeaea;
    }
  }
}
