.container {
  .tabsHeader {
    padding-left: 35px;
    li {
      padding: 8px 15px;
      margin-right: 21px;
      display: inline-block;
      color: #878e95;
      font-weight: 700;
      letter-spacing: 1.71px;
      text-transform: uppercase;
    }
    li:hover {
      background: #f8f8f9;
      color: #3e3e58;
    }
    li.active {
      background: #f8f8f9;
      color: #3e3e58;
    }
  }
}
