@import "../../../commonstyles/variables.scss";

.contentPanel {
  display: flex;
  flex-direction: column;
  width: 85%;
  padding: 10px;
  .upperPanel {
    width: 100%;
    background-color: #fff;
    height: 50px;
    border: solid 1px #e9ebf0;
    padding-left: 15px;
    display: flex;
    align-items: center;
    .title {
      font-size: 18px;
      font-weight: 600;
      text-transform: capitalize;
    }
  }
}

.loaderParent {
  position: relative;
  // padding:0px !important;
  width: auto !important;
  padding-right: 0px !important;
  div {
    padding: 0px;
    margin-top: 5px;
  }
}
