@import '../../commonstyles/variables.scss';

.headerChildrenParent{
    list-style: none;
    display: flex;
    justify-content: flex-end;
    background: white;
    ul{
      list-style: none;
      display: flex;
      li{
        padding: 10px;
        margin-right:20px;
        cursor: pointer;
        span{
          @include fontStyle(14px, $DBlack, 600);
          padding: 10px;
        }

      }
      li.btn{
        background: #9f8fff;
        box-shadow: 0 5px 7px 0 rgba(103, 114, 229, 0.2);
        span{
          @include fontStyle(14px, $White, 600);
        }
      }
    }
}