@import '../../commonstyles/variables.scss';
.baseListItem {
  @extend .row;
  height: 54px;
  align-items: center;
  padding-right: 16px;
  text-transform: capitalize;
  border-bottom: 1px solid #eaeaea;
  .headingText {
    flex: 9;
    padding-left: 12px;
  }
  .rightArrow {
    width: 25px;
    height: 25px;
    flex: 1;
  }
}

.extraPadding {
  padding-top: 12px;
  padding-bottom: 5px;
  padding-left: 16px;
}
