@import "../../commonstyles/variables.scss";

.container {
  // border: 1px solid #e6ebf3;
  div {
    padding: 5em 2em 0;
  }
  .custom01 p {
    position: relative;
  }
  .custom01 input,
  .custom01 label {
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    font-size: 15px;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
  }
  .custom01 input {
    width: 300px;
    padding: 0.5em 0.5em 0.5em 3.5em;
    border: 1px solid #aaa;
    background: #fff;
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #333;
  }
  .custom01 label {
    position: absolute;
    top: 0.7em;
    left: 0.5em;
    color: #aaa;
    line-height: 1;
  }
  .custom01 input:focus {
    padding-left: 0.5em;
  }
  .custom01 input:focus + label {
    top: -1.5em;
  }
}
