@import './../../commonstyles/variables.scss';

$fontColor: #182233;
$background_color_1: #b8c2cb;
$background_color_2: #d6e6eb;
$paragraphColor: #29394f;
$bordeerColor: #e6ebf3;
$labelColor: #86a0c2;

.floatingForm {
  .floatingLabel {
    position: relative;
    margin-bottom: 6px;
    label {
      @include fontStyle(15px, $LGrey, 400);
      @include popupFull(absolute, 5px, false, false, 5px);
      pointer-events: none;
      transition: 0.2s ease all;
      font-weight: 500;
      left: 16px;
      top: 18px;
    }
  }

  .floatingInput {
    font-size: 18px;
    display: block;
    @include widthHeight(100%, 56px);
    background: transparent;
    border: 1px solid $borderCol;
    position: relative;
    color: $TextCol;
    font-weight: 500;
    padding-left: 16px;
    padding-top: 15px;
    border-radius: 2px;

    &.errorClass {
      &:focus {
        border: 2px solid $Red;
      }
    }
    &:focus {
      outline: none;
      border: 2px solid $Blue;
      & ~ label {
        @include fontStyle(12px, $LGrey, false);
        top: 5px;
      }
      & ~ .bar {
        &:before {
          width: 50%;
        }
        &:after {
          width: 50%;
        }
      }
      & ~ .highlight {
        animation: inputHighlighter 0.3s ease;
      }
    }
    &:not(:placeholder-shown) {
      & ~ label {
        top: 5px;
        @include fontStyle(12px, $LGrey, false);
      }
    }
    &.searchPlaceholder {
      & ~ label {
        @include fontStyle(14px, #86a0c2, $borderCol);
        @include popupFull(absolute, 5px, false, false, 5px);
        pointer-events: none;
        transition: 0.2s ease all;
        font-weight: 500;
        left: 16px;
        top: 18px;
      }
    }
    &.shareTextArea {
      height: 168px;
      font-weight: bold;
      padding-top: 31px;
      & ~ label {
        top: 5px;
        padding-top: 10px;
        @include fontStyle(14px, #00b9f5, false);
      }
    }
  }
  .floatingSelect {
    font-size: 18px;
    display: block;
    @include widthHeight(100%, 56px);
    background: transparent;
    border: 1px solid $borderCol;
    position: relative;
    color: $TextCol;
    font-weight: 500;
    padding-left: 16px;
    padding-top: 15px;
    border-radius: 2px;

    @extend .BB;
    &:focus {
      outline: none;

      & ~ label {
        top: -18px;
        @include fontStyle(12px, $Black, false);
      }
      & ~ .bar {
        &:before {
          width: 50%;
        }
        &:after {
          width: 50%;
        }
      }
      & ~ .highlight {
        animation: inputHighlighter 0.3s ease;
      }
    }
    &:not([value='']) {
      &:valid {
        & ~ label {
          top: 5px;
          @include fontStyle(12px, $LGrey, false);
        }
      }
    }
  }
  * {
    box-sizing: border-box;
    &:before {
      box-sizing: border-box;
    }
    &:after {
      box-sizing: border-box;
    }
  }
  .floatingTextarea {
    min-height: 30px;
    max-height: 160px;
    padding: 20px;
    @include widthHeight(100%, 120px);
    overflow: hidden;
    overflow-x: hidden;
    border: 1px solid $Blue;
    &:focus {
      & ~ label {
        top: -18px;
        @include fontStyle(12px, $LGrey, false);
      }
      & ~ .highlight {
        animation: inputHighlighter 0.3s ease;
      }
    }
    &:not(:placeholder-shown) {
      & ~ label {
        top: -18px;
        @include fontStyle(12px, $LGrey, false);
      }
    }
  }
  .highlight {
    position: absolute;
    @include widthHeight(50%, 100%);
    @include popupFull(absolute, 15%, false, false, 0);
    pointer-events: none;
    opacity: 0.5;
  }
  .calenderIcon {
    position: absolute;
    top: 0;
    right: 20px;
    font-size: 24px;
  }
  .normalTextArea {
    height: 80px;
    font-size: 16px;
    font-weight: 400;
  }
  .floatingTextAreaInput {
    height: 56px;
    font-size: 16px;
    font-weight: 400;
    padding-left: 0;
  }
}

.inputText {
  display: flex;
  @include fontStyle(12px, $LGrey, 400);
  span {
    margin-left: auto;
    max-width: 60px;
    min-width: 60px;
    text-align: right;
    color: $LGrey;
  }
}
.inputGroup {
  position: absolute;
  right: 16px;
  top: 16px;
  cursor: pointer;
  img {
    width: 24px;
    height: 24px;
  }
}

.valErrMsg {
  color: $Red;
}
.ddImgIcon {
  position: absolute;
  width: 25px;
  top: 16px;
  right: 16px;
  transform: rotate(90deg);
}
.floatingRadio {
  @include fontStyle(14px, $DBlack, null);
  // margin-top:-10px;
  line-height: 1.5;
  display: flex;

  & input[type='radio'] {
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    @include widthHeight(18px, 18px);
    padding: 3px;
    background-clip: content-box;
    border: 2px solid #e6ebf3;
    background-color: $White;
    border-radius: 50%;

    &:checked {
      background-color: $Blue;
      border: 2px solid $Blue;
    }
  }

  span {
    @include fontStyle(12px, $DBlack, false);
    padding: 2px 0 0 8px;
  }
  span:first-child {
    @include fontStyle(18px, $DBlack, bold);
  }
  .radioValue {
    @include fontStyle(18px, $DBlack, bold);
    right: 0px;
    position: absolute;
  }
  .subText {
    display: flex;
    margin-top: -8px;
    flex-direction: column;
  }
  .subTextRadio {
    display: flex;
    margin-top: -3px;
    flex-direction: column;
    span {
      color: #86a0c2;
    }
  }
  .radioLabelParent {
    display: flex;
    padding-right: 20px;
  }
}
