@import '../../commonstyles/variables.scss';

.loanOfferingTncPage {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  background: white;
  padding: 0 15px;
  overflow: scroll;

  .topContainer {
    display: flex;
    justify-content: flex-start;

    h3 {
      @include fontStyle(20px, #29394f, normal);
      text-align: left;
      margin-top: 20px;
      line-height: 1.14;
    }

    .loanImageContainer {
      @include widthHeight(25px, 39px);
      margin-top: 10px;
      padding: 5px;
    }

    i {
      padding: 12px 4px;
      font-size: 16px;
    }
  }

  .iframeContainer {
    @include widthHeight(100%, 100%);
    border: none;
    overflow: scroll;
  }
}
