@import '../../commonstyles/variables.scss';

.btnSpinnerWrapper {
  .showSpinner {
    display: flex;
  }
}

.spinner {
  display: none;
  justify-content: center;
  width: 100%;
  div {
    width: 14px;
    height: 14px;
    background: $Blue;
    border-radius: 100%;
    display: inline-block;
    animation: bouncedelay 1.2s infinite ease-in-out both;
  }

  .bounce1 {
    animation-delay: -0.64s;
    background: $DBlue;
  }

  .bounce2 {
    animation-delay: -0.48s;
    background: $DBlue;
  }

  .bounce3 {
    animation-delay: -0.32s;
    background: $DBlue;
  }

  .bounce4 {
    animation-delay: -0.16s;
  }
}

@keyframes bouncedelay {
  0%,
  80%,
  100% {
    transform: scale(0.3);
  }

  40% {
    transform: scale(1);
  }
}
