@import '../../commonstyles/variables.scss';

.container {
  border: 1px solid #e6ebf3;
  padding-bottom: 10px;
  .wrapLabel {
    @include fontStyle(12px, $Grey, 500);
    padding-top: 2px;
    padding-left: 16px;
    position: relative;
    top: 6px;
  }
  .selectBox {
    padding-left: 16px;
    // display: block;
    @include widthHeight(100%, 30px);
    @include fontStyle(14px, $Black, 700);
    appearance: none;
    background: url('../../public/images/down-arrow.svg') no-repeat right #fff;
    background-size: 15px;
    background-position: right 16px center;
    border-radius: 2px;
    /* border: 1px solid #e6ebf3; */
    background-clip: padding-box;
    outline: none;
    border: none;
    /*&.errorClass {
          &:focus {
            border: 1px solid $Red !important;
          }
        }*/

    /*  &:focus {
          outline: none;
          border: 1px solid $Blue;
          &~label {
            @include fontStyle(12px, $LGrey, false);
            top: -18px;
          }
          &~.bar {
            &:before {
              width: 50%;
            }
            &:after {
              width: 50%;
            }
          }
          &~.highlight {
            animation: inputHighlighter 0.3s ease;
          }
        }*/

    @extend .BB;
    &:focus {
      outline: none;

      & ~ label {
        top: -18px;
        @include fontStyle(14px, #86a0c2, false);
      }
      & ~ .bar {
        &:before {
          width: 50%;
        }
        &:after {
          width: 50%;
        }
      }
      & ~ .highlight {
        animation: inputHighlighter 0.3s ease;
      }
    }
    &:not([value='']) {
      &:valid {
        & ~ label {
          top: -18px;
          @include fontStyle(18px, #86a0c2, false);
        }
      }
    }
  }
}
