@import "../../commonstyles/variables.scss";

.progressBar {
  display: flex;
  justify-content: center;
  align-items: center;
  .checkPoints {
    background: $Theme;
    width: 20px;
    height: 20px;
    border-radius: 100px;
    cursor: pointer;
    border: 1px solid $Theme;
  }
  .checkPoints:hover {
    background: $White;
  }
  .active {
    background-color: $White;
  }
  .separator {
    height: 2px;
    background-color: $Theme;
  }
  .titleHolder {
    position: absolute;
    top: 61px;
    font-size: 15px;
    letter-spacing: 0.8px;
  }
}
