@import "../../commonstyles/variables.scss";

.btn {
  border-width: 0;
  border-radius: 2px;
  padding: 0;
  margin: 0;
  display: inline-block;
  text-align: center;
  width: 100%;
  cursor: pointer;
  font-weight: 600px;
  letter-spacing: 2px;

  &:hover {
    @extend .is-primary;
  }
}

.is-primary {
  background: #786be6;
  color: $White;
}

.is-secondary {
  background: $White;
  color: $Blue;
  border: 1px solid $Blue;
}

.is-transparent {
  background: $White;
  color: #786be6;
  margin-left: 5px;
}

.is-smallRounded {
  border-radius: 23px;
}

//DOOOO
.is-type3 {
  opacity: 0;
  color: $Blue;
  border: 1px solid $Blue;
}

.is-medium {
  @include fontStyle(14px, false, 500);
  padding: 15px;
}

.is-large {
  @include fontStyle(16px, false, 800);
  padding: 15px 20px;
}

.is-small {
  font-size: 11px;
  padding: 6px 10px;
}

.is-active {
  background: $Blue;
  color: $White;
}

.btn[disabled],
.is-disabled {
  background: #99ddf3;
  border: $borderCol;
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.5;
}

.orangeBtn {
  background: $Gold;
}

.greenBtn {
  background: $Green;
}
