@import '../../commonstyles/variables.scss';

.container {
  border: 1px solid #e6ebf3;
  background: #fff;
  min-height:180px;

  .header{
    padding:15px;
    border-bottom:1px solid #e9ebf0;
    font-size: 14px;
  }
  .body{
    font-size: 24px;
    padding:21px;
  }
}