@import '../../../commonstyles/variables.scss';

.contentPanel{
  display: flex;
  flex-direction: column;
  width: 85%;
  padding: 10px;
  .upperPanel{
    width: 100%;
    background-color:#fff; 
    height: 100px;
    border: solid 1px #e9ebf0;
    padding:15px;
    .title{
      font-size: 18px;
      font-weight: 600;
    }
    .filterPanel{
      display: flex;
      .addRequest{
        flex:2;
        display:flex;
        justify-content: flex-end;
        margin-right:15px;
      }
      .searchPlaceholder{
          padding-top:15px;
          .search{
            border-radius: 3px;
            border: solid 1px #e9ebf0;
            background-color: #f7f8fa;
            height:32px;
            width:307px;
            padding-left:11px;
          }
      }
      .selectOptionParent{
        padding-top: 15px;
        margin-left:48px;
        display: flex;
        align-items: center;
        @include fontStyle(12px, #4a4a4a, 500);
        span{
          margin-right: 5px;
        }
        .addRequestBtn{
          background: #786be6;
          color:$White;
          padding:13px 9px;
          @include fontStyle(11px, $White, 900);
          letter-spacing: 1px;
          text-transform: uppercase;
          cursor: pointer;
          border-radius:3px;
        }
      }
      .selectDropdown{
        border:1px solid #dbdbdb;
        min-width: 123px;
        min-height: 25px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-left:12px;
        border-radius: 12.5px;
        
      }
    }
    

  }
  .tabularWrapper{
    width: 97%;
    background-color: #fff;
    height: auto;
    max-height: 700px;
    overflow:scroll;
    border: solid 1px #e9ebf0;
    padding: 15px;
    margin-top:10px;
    .headerWrapper{
        padding-left:60px;
      .tableHeadersParent{
        display: flex;
        span{
          display: flex;
          flex-basis:14%;
          @include fontStyle(12px, $DBlack, 700)
        }
      }
    }
    .rowWrapper{
      margin-top:13px;
      .rowParent{
          border-bottom: 1px solid #e9ebf0;
          padding-left: 60px;
      }
      .rowParent:hover{
        background: #f7f8fa;
        border-left:2px solid #6772e5;
      }
    }
  }
  .listItem{
    display: flex;
    flex:2;
    justify-content: center;
    .parentItem{
      color:#637280;
      display: flex;
      flex-direction: column;
      width: 220px;
      .headingParent{
        padding:15px;
        cursor: pointer;
        border-bottom: 1px solid #eaeaea;
        background: #f6fafd;
        .listContainer{
          margin-top: 20px;
          ul{
            li{
              padding:5px 0px 5px 0px;
            }
          }
        }
      }
      
    }
  }
  .contentViewer{
    display: flex;
    flex:4;
  }
}


.formContainer{
  .title{
    @include fontStyle(14px, #4a4a4a, 700);
    letter-spacing: 2.4px;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    margin-top:35px;
  }
  .inputParent{
    padding:35px;
    .formElemWrapper{
      margin-bottom: 10px;
      display: flex;
      flex-direction: column;
      .identifier{
        padding-top:10px;
        cursor: pointer;
        span{
          span{
            color:#6772e5;
            font-weight:700;
          }
          background-color:#f0eefb;
          border-radius:20px;
          padding:2px 8px;
        }
      }
      .label{
        @include fontStyle(10px, #3e3e58, 300);
        line-height: 2;
        letter-spacing: 0.2px;
        text-transform: uppercase;
      }
      input{
        background:#efeef8;
        height:38px;
        border: 1px solid #dbdbdb;
        padding:2px;
        padding-left: 12px;
        border-radius: 3px;
        box-shadow: none;
        font-size: 12px;
      }
      .calendarHolder{
        position: absolute;
        z-index: 2;
        width: 83%;
        .closeIcon{
          float: right;
          padding-top: 17px;
          padding-right: 10px;
          cursor: pointer;
          img{
            width:15px;
            height: 15px;
          }
        } 
      }
    }
    .btnParent{
      margin-top:35px;
    }
    
  }
  
}

.noAssigneeFound{
  display: flex;
  justify-content: flex-start;
  border-radius: 11px;
  background-color: #f0eefb;
  padding-left:7px;
  padding-right:7px;
  width:60%;
  color:#3f3356;
}

@-webkit-keyframes expand{
    0%{height:0px}
    100%{height:1000px}
}
@keyframes expand{
    0%{height:0px}
    100%{height:1000px}
}
