@import '../../commonstyles/variables.scss';

.container {
  height: 140px;
  padding-top: 32px;
  padding-left: 24px;

  .titleContainer {
    display: flex;
    flex: 3;
    span.title {
      @include fontStyle(21px, $Black, 800);
    }
  }
  .loaderParent {
    padding-top: 32px;
    display: flex;
  }
  .successImg {
    display: flex;
    flex: 1;
    padding-left: 60px;

    img {
      width: 42px;
      height: 42px;
    }
    img.errorImg {
      border: solid 1px #f00000;
      border-radius: 20px;
      width: 35px;
      height: 35px;
    }
  }
}

.flexClass {
  display: flex;
  word-break: break-word;
}
.ButtonParent {
  position: relative;
  bottom: 50px;
  padding: 0px 24px;
}
