@import "../../commonstyles/variables.scss";

.container {
  display: flex;
  span {
    display: flex;
    flex-basis: 14%;
    padding: 28px 0px 32px 0px;
    text-transform: capitalize;
    span {
      padding: 0px;
      flex: 1;
    }
    span.fileName {
      color: #7b68ee;
      border: 1px solid #7b68ee;
      border-radius: 4px;
      padding: 5px;
      font-size: 10px;
    }
  }
  .statusPending {
    // border: 1px solid #ff6565;
    // border-radius: 11px;
    // padding: 0px 17px;
    display: flex;
    // justify-content: center;
    align-items: center;
    color: #ff6565;
  }
  .statusOngoing {
    // border: 1px solid #ffcd46;
    // border-radius: 11px;
    // padding: 0px 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffcd46;
  }
  .statusCompleted {
    // border: 1px solid #b8e986;
    // border-radius: 11px;
    // padding: 0px 17px;
    display: flex;
    color: #71a53b;
    // justify-content: center;
    align-items: center;
  }
}
