@import '../../commonstyles/variables.scss';

.sectionTitleContainer {
  background-color: #f6f8fc;
  height: 36px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  .title {
    @include fontStyle(12px, #7b93b4, normal);
    font-weight: 800;
    margin-left: 16px;
    font-style: normal;
    font-stretch: normal;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.8px;
  }
}
