@import '../../commonstyles/variables.scss';

.shimmerSkeleton {
  .animation {
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    background: #f4f4f4;
    background-image: linear-gradient(
      to right,
      #f4f4f4 0%,
      #fff 20%,
      #f4f4f4 40%,
      #f4f4f4 100%
    );
    background-repeat: no-repeat;
    animation-direction: reverse;
    animation-name: shimmer;
  }

  .shimmerBox {
    @extend .animation;
    background-size: 800px 40vh;
  }

  .shimmerTabs {
    display: flex;
    flex-direction: row;
    margin-top: 32px;
    margin-left: 25px;
    justify-content: space-between;

    .tab1 {
      @extend .animation;
      margin-right: 10px;
      background-size: 100px 6vh;
      height: 6vh;
      width: 30%;
      border-radius: 30px;
    }
  }

  .shimmerLine {
    @extend .animation;
    margin: 10px 0;
    background-size: 100px 1.5vh;
    height: 2vh;
  }

  .shimmerLines {
    display: flex;
    flex-direction: row;
    margin: 50px 25px 0 25px;
    justify-content: space-between;

    .shimmerLines1 {
      @extend .animation;
      height: 1.5vh;
      width: 30%;
      border-radius: 25px;
    }

    .shimmerLines2 {
      @extend .animation;
      height: 1.5vh;
      width: 20%;
      border-radius: 25px;
    }
  }

  .shimmerGame {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 25px 0 25px;

    .imageBox {
      @extend .animation;
      width: 21%;
      height: 11vh;
      border-radius: 7px;
    }

    .detailBox {
      width: 60%;
      margin-left: 20px;

      .detail1 {
        @extend .animation;
        height: 1.5vh;
        width: 40%;
        border-radius: 10px;
      }

      .detail2 {
        @extend .animation;
        height: 2vh;
        width: 70%;
        margin-top: 13px;
        border-radius: 10px;
      }
    }

    .playBox {
      @extend .animation;
      height: 20px;
      width: 17%;
      border-radius: 15px;
      margin: 20px 0;
    }
  }

  @keyframes shimmer {
    0% {
      background-position: 468px 0;
    }

    100% {
      background-position: -468px 0;
    }
  }
}
