@import "../../../commonstyles/variables.scss";

.contentPanel {
  display: flex;
  flex-direction: column;
  width: 85%;
  padding: 10px;
  .upperPanel {
    width: 100%;
    background-color: #fff;
    height: 50px;
    border: solid 1px #e9ebf0;
    padding-left: 15px;
    display: flex;
    align-items: center;
    .title {
      font-size: 18px;
      font-weight: 600;
    }
  }
  .preferenceContainer {
    margin-top: 10px;
    background: #fff;
    padding-top: 77px;
    padding-left: 58px;
    height: calc(100vh - 30%);

    .prefHeader {
      display: flex;
      span {
        display: flex;
        flex-basis: 30%;
        @include fontStyle(12px, $DBlack, 700);
      }
    }
    .prefBody {
      .prefItemWrapper {
        display: flex;
        span.prefItem {
          margin-top: 41px;
          display: flex;
          flex-basis: 30%;
          @include fontStyle(12px, #3e3e58, 500);
        }
      }
    }
    .btnParent {
      width: 110px;
      float: right;
      margin-top: 60px;
      margin-right: 155px;
    }
  }
}

.tabsWrapper {
  width: 97%;
  background-color: #fff;
  height: auto;
  max-height: 700px;
  overflow: scroll;
  border: solid 1px #e9ebf0;
  padding: 15px;
  margin-top: 10px;
  .rowWrapper {
    margin-top: 13px;
    .rowParent {
      padding: 13px 0px 13px 46px;
      // border-bottom: 1px solid #e9ebf0;

      .userRow {
        display: flex;
        span {
          display: flex;
          flex-basis: 20%;
          align-items: center;
          min-width: 20%;
          word-break: break-all;
          img {
            width: 24px;
            border-radius: 10px;
          }
        }
        span:nth-child(5),
        span:nth-child(6) {
          display: flex;
          flex-basis: 10%;
          align-items: center;
          min-width: 10%;
          word-break: break-all;
          img {
            width: 24px;
            border-radius: 10px;
          }
        }
        .deleteBtn {
          letter-spacing: 2.5px;
          @include fontStyle(12px, $Red, 900);
          text-transform: uppercase;
        }
      }
    }
  }
}

.tabsHeader {
  li {
    padding: 8px 15px;
    margin-right: 21px;
    display: inline-block;
    color: #878e95;
    font-weight: 700;
    letter-spacing: 1.71px;
    text-transform: uppercase;
  }
  li:hover {
    background: #f8f8f9;
    color: #3e3e58;
  }
  li.active {
    background: #f8f8f9;
    color: #3e3e58;
  }
}

.tabsBody {
  margin-top: 36px;
  .bodyHeaders {
    display: flex;
    margin-bottom: 30px;
    margin-left: 46px;
    .headerContainer {
      display: flex;
      flex-basis: 20%;
      align-items: center;
      span {
        display: flex;
        flex-basis: 14%;
        font-weight: 700;
      }
      button {
        background: #6772e5;
        color: $White;
        border-radius: 20px;
        width: 50px;
        margin-left: 10px;
      }
    }
  }
  .tabFooter {
    display: flex;
    align-items: center;
    .searchPlaceholder {
      padding-top: 15px;
      margin-right: 15px;
      .search {
        border-radius: 3px;
        border: solid 1px #e9ebf0;
        background-color: #f7f8fa;
        height: 32px;
        width: 307px;
        padding-left: 11px;
      }
    }
    .btnParent {
      width: 130px;
      padding-top: 15px;
      margin-right: 15px;
      button {
        height: 35px;
        font-size: 12px;
        padding: 0px;
      }
    }
    .roleSelectorParent {
      padding-top: 15px;
      margin-right: 15px;
      .newRoleBtnParent {
        button {
          background: #6772e5;
          color: $White;
          width: 65px;
          font-size: 10px;
          text-transform: uppercase;
          letter-spacing: 1px;
          font-weight: normal;
        }
      }
      .newRoleBtnParent:hover {
        background: $White;
      }
    }
  }
}

.newListParent {
  display: flex;
  flex-wrap: wrap;
  margin-top: 27px;
  @include fontStyle(12px, #3e3e58, 500);
  .listItem {
    display: flex;
    margin-bottom: 15px;
    span.title {
      width: 245px;
      text-transform: capitalize;
    }
  }
}

.roleInput {
  height: 35px;
  width: 95%;
  font-size: 14px;
  letter-spacing: 0.8px;
  border: 1px solid #e9ebf0;
  padding-left: 12px;
  margin-top: 11px;
  &.placeholder {
    color: #adadb9;
  }
  font-family: MarkPro;
}
.btnParent {
  margin-top: 20px;
  margin-bottom: 20px;
  float: right;
  display: flex;
  button:first-child {
    margin-right: 10px;
    font-family: MarkPro;
  }
}
.select {
  height: 44px;
  background: #fff;
  border: 1px solid #dbdbdb;
  border-radius: 0px;
  width: 100%;
  margin-top: 20px;
  -webkit-appearance: none;
  -webkit-border-radius: 2px;
  padding-left: 16px;
  font-size: 14px;
  color: #adadb9;
  font-family: MarkPro;
}
.hoverActive {
  background: $VLGrey;
}

.optionOverlap {
  width: 136px;
  height: 27px;
  border-radius: 25px;
  z-index: 99;
}
.optionAssignOverlap {
  width: 150px;
  height: 37px;
  border-radius: 0px;
  z-index: 99;
}
.inviteOverlap {
  width: 320px;
  height: 37px;
  border-radius: 0px;
  z-index: 99;
}
.inviteBtnOverlap {
  width: 130px;
  height: 35px;
  border-radius: 0px;
  z-index: 99;
}
.resendInviteOverlap {
  width: 25px;
  height: 20px;
  border-radius: 0px;
}
.loaderContainer {
  position: relative;
  width: 100%;
}
