//@import '../../commonstyles/variables.scss';
.image {
  width: 45px !important;
  margin-right: 0% !important;
}
.new_image {
  width: 32px;
  margin-left: 17px;
}
.logo_image {
  width: 80px;
  margin-left: 29%;
}
.comman {
  //display: flex;
  margin-top: 4%;
}
.para_header {
  height: 28px;
  font-size: 28px;
  color: #243451;
  font-weight: bold;
  margin-bottom: 32px;
  text-align: center;
}
.display {
  display: flex;
  justify-content: center;
}
.space {
  margin-top: 289px;
}
.para {
  font-size: 12px;
  height: 16px;
  margin-top: 32px;
  font-weight: 300;
  color: rgba(83, 110, 146, 100);
}
.progress_bar {
  position: relative;
  height: 8px;
  width: 320px;
  border-radius: 500px;
  background: rgb(230, 235, 243);
  margin-left: 17px;
  margin-right: 17px;
}
.bar {
  background: rgb(0, 185, 245);
  height: 100%;
  border-radius: inherit;
  width: 220px;
}
// .blackbar{
//   height:5px;
//   width: 134px;
//   border-radius: 4px;
//   background-color: black;
//   margin-top: 323px;
// }
