@import "../../commonstyles/variables.scss";

.container {
  padding: 15px;
  .thumb {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 170px;
    height: 140px;
    background: #fff;
    border: 1px solid #e9ebf0;
    img {
      width: 48px;
      height: 48px;
    }
    span.add {
      display: flex;
      flex-direction: center;
      justify-content: center;
      font-size: 40px;
    }
    span.custom_short {
      width: 48px;
      height: 48px;
      text-align: center;
      background: #6772e5;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 100px;
      @include fontStyle(12px, $White, 600);
      text-transform: uppercase;
    }
    span.title {
      margin-top: 27px;
      @include fontStyle(12px, $DBlack, 700);
      letter-spacing: 2px;
      text-transform: uppercase;
    }
  }
}
.container:hover {
  .thumb {
    background: #6772e5;
    span.add {
      color: $White;
    }
    span.custom_short {
      background: $White;
      color: #6772e5;
    }
    span.title {
      color: $White;
    }
  }
}
.container:first-child {
  padding-left: 0px;
}
.disabled {
  width: 200px;
  height: 173px;
}
.deleteBtn {
  display: flex;
  justify-content: center;
}
