@import "../../../commonstyles/variables.scss";

.contentPanel {
  display: flex;
  flex-direction: column;
  width: 85%;
  padding: 10px;
  .upperPanel {
    width: 100%;
    background-color: #fff;
    height: 50px;
    border: solid 1px #e9ebf0;
    padding-left: 15px;
    display: flex;
    align-items: center;
    .title {
      font-size: 18px;
      font-weight: 600;
    }
    .filterPanel {
      display: flex;
      .addRequest {
        flex: 2;
        display: flex;
        justify-content: flex-end;
        margin-right: 15px;
      }
      .searchPlaceholder {
        padding-top: 15px;
        .search {
          border-radius: 3px;
          border: solid 1px #e9ebf0;
          background-color: #f7f8fa;
          height: 32px;
          width: 307px;
          padding-left: 11px;
        }
      }
      .selectOptionParent {
        padding-top: 15px;
        margin-left: 48px;
        display: flex;
        align-items: center;
        @include fontStyle(12px, #4a4a4a, 500);
        span {
          margin-right: 5px;
        }
        .addRequestBtn {
          background: #786be6;
          color: $White;
          padding: 13px 9px;
          @include fontStyle(11px, $White, 900);
          letter-spacing: 1px;
          text-transform: uppercase;
          cursor: pointer;
          border-radius: 3px;
        }
      }
      .selectDropdown {
        border: 1px solid #dbdbdb;
        min-width: 123px;
        min-height: 25px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-left: 12px;
        border-radius: 12.5px;
      }
    }
  }
  .silosContainer {
    margin-left: 50px;
    margin-top: 31px;
    .silosParent {
      .categoryTitle {
        @include fontStyle(16px, $DBlack, 500);
      }
      .silos {
        display: flex;
        flex-wrap: wrap;
      }
    }
  }
}

.formContainer {
  .title {
    @include fontStyle(14px, #4a4a4a, 700);
    letter-spacing: 0.4px;
    display: flex;
    justify-content: flex-start;
    text-transform: uppercase;
    margin-top: 35px;
  }
}

.noAssigneeFound {
  display: flex;
  justify-content: flex-start;
  border-radius: 11px;
  background-color: #f0eefb;
  padding-left: 7px;
  padding-right: 7px;
  width: 60%;
  color: #3f3356;
}

.inputParent {
  padding: 35px;
  .title {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 5px;
  }
  .formElemWrapper {
    margin-top: 15px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    .label {
      @include fontStyle(10px, #3e3e58, 300);
      line-height: 2;
      letter-spacing: 0.2px;
      text-transform: uppercase;
    }
    .checkboxLabel {
      padding-top: 3px;
    }
    input,
    textarea {
      background: #efeef8;
      height: 38px;
      border: 1px solid #dbdbdb;
      padding: 2px;
      padding-left: 12px;
      border-radius: 3px;
      box-shadow: none;
      font-size: 12px;
    }
    textarea {
      resize: none;
      height: 126px;
    }
    .calendarHolder {
      position: absolute;
      z-index: 2;
      width: 83%;
      .closeIcon {
        float: right;
        padding-top: 17px;
        padding-right: 10px;
        cursor: pointer;
        img {
          width: 15px;
          height: 15px;
        }
      }
    }
  }
  .checkBoxWrapper {
    display: flex;
    flex-direction: row;
  }
  .btnParent {
    margin-top: 20px;
    margin-bottom: 20px;
    float: right;
    display: flex;
    .cancelBtn:hover {
      background: #6772e5;
    }
  }
}

.highlightedSpan {
  margin-left: 5px;
  cursor: pointer;
  font-size: 11px;
  color: $Theme;
}

@-webkit-keyframes expand {
  0% {
    height: 0px;
  }
  100% {
    height: 1000px;
  }
}
@keyframes expand {
  0% {
    height: 0px;
  }
  100% {
    height: 1000px;
  }
}

.checkboxContainer {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkboxContainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkMark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.checkboxContainer:hover input ~ .checkMark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkboxContainer input:checked ~ .checkMark {
  background-color: #6772e5;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkMark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkboxContainer input:checked ~ .checkMark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkboxContainer .checkMark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.select {
  height: 44px;
  background: #efeef8;
  border: 1px solid #dbdbdb;
}

.trash {
  display: flex;
  align-items: center;
  color: $Red;
  cursor: pointer;
}
